<form [formGroup]="myForm" (ngSubmit)="login()">
    <div>
        <label for="">Email</label>
        <input type="email" formControlName="email" [ngClass]="{error:myForm.get('email').errors && myForm.get('email').dirty,warning:myForm.get('email').hasError('minlength')}">
    </div>
    <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
        <p *ngIf="myForm.get('email').hasError('required')">El campo es obligatorio</p>
        <p *ngIf="myForm.get('email').hasError('minlength')">Debe escribir al menos 3 caracteres</p>
        
    </div>
    <div>
        <label for="">Contraseña</label>
        <input type="password" formControlName="password">
    </div>
    <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
        <p *ngIf="myForm.get('password').hasError('required')">El campo es obligatorio</p>
        
    </div>
    <input type="submit" value="Ingresar" [disabled]="myForm.invalid">
</form>
